
body {
    background: url("../imgs/storm-2567670_1920.jpg") center/cover no-repeat;
    min-height: 100vh;
    font-family: "Century Gothic";
}



@media (min-width: 600px) {

.header {
    background-color: rgba(123,123,123,0.5);
    height: 100px;
}
.header__logo {
    font-size: 60px;
    padding: 10px 50px;
    color: #FFFFFF;
    float: left;
}
.header__list {
    li {
        float: left;
        list-style: none;
        padding: 30px 50px;
        font-size: 30px;
        color: #C0C0C0;
    }
}

}