body {
  background: url("../imgs/town_b_c.jpg") center/cover no-repeat;
  min-height: 100vh;
}

body,
.main,
.header,
h1 {
  display: block;
  font-family: "Century Gothic";
}

@media (min-width: 769px) {
  .main {
    height: 500px;
    margin: 0;
    text-align: center;
    .man {
      display: none;
      position: absolute;
      bottom: -30px;
      left: 35%;
      height: 100%;
      margin: 0;
    }
    .fall1 {
      display: none;
      position: absolute;
      height: 15%;
      top: 0;
      margin-left: 10%;
    }
    .fall2 {
      display: none;
      position: absolute;
      height: 15%;
      top: 10px;
      margin-left: -10%;
    }
    .fall3 {
      display: none;
      position: absolute;
      height: 15%;
      top: 0;
      margin-left: -30%;
    }
    .fall4 {
      display: none;
      position: absolute;
      height: 15%;
      top: 20px;
      margin-left: -50%;
    }
    .fall5 {
      display: none;
      position: absolute;
      height: 15%;
      top: 0;
      margin-left: -70%;
    }
  }
  .header {
    background-color: rgba(123, 123, 123, .5);
    height: 100px;
  }
  h1 {
    font-weight: normal;
    font-size: 60px;
    padding: 0 10px;
    margin: 10px 40px;
    color: #FFFFFF;
    float: left;
  }
  .header__eye {
    display: none;
    width: 80px;
    padding: 0 10px;
    margin: 30px 35px;
    color: #FFFFFF;
    float: left;
  }
  .header__list {
    li {
      float: left;
      list-style: none;
      cursor: pointer;
      padding: 10px 30px;
      margin: 20px 10px;
      font-size: 30px;
      color: #C0C0C0;
    }
    li:hover {
      color: #000000;
    }
  }
}

@media (max-width: 768px) {
  .main {
    height: 200px;
    margin: 0;
    text-align: center;
    .man {
      display: none;
      position: absolute;
      bottom: 0px;
      left: -5%;
      height: 80%;
      margin: 0;
    }
    .fall1 {
      display: none;
      position: absolute;
      height: 15%;
      top: 0;
      margin-left: -10%;
    }
    .fall2 {
      display: none;
      position: absolute;
      height: 15%;
      top: 10px;
      margin-left: -90%;
    }
    .fall3 {
      display: none;
      position: absolute;
      height: 15%;
      top: 0;
      margin-left: -30%;
    }
    .fall4 {
      display: none;
      position: absolute;
      height: 15%;
      top: 20px;
      margin-left: -50%;
    }
    .fall5 {
      display: none;
      position: absolute;
      height: 15%;
      top: 0;
      margin-left: -70%;
    }
  }
  .header {
    background-color: rgba(123, 123, 123, .5);
    height: 80px;
  }
  h1 {
    font-weight: normal;
    font-size: 40px;
    padding: 10px 10px;
    margin: 0 10px;
    color: #FFFFFF;
    float: left;
  }
  .header__eye {
    display: none;
    width: 60px;
    padding: 0 5px;
    margin: 23px 10px;
    color: #FFFFFF;
    float: left;
  }
  .header__list {
    li {
      float: left;
      list-style: none;
      cursor: pointer;
      padding: 10px 5px;
      margin: 20px 5px;
      font-size: 20px;
      color: #C0C0C0;
    }
    li:hover {
      color: #000000;
    }
  }
}
